* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

h1 {
  margin-bottom: 2rem;
}

.tech-list {
  margin-top: 5px;
}

div input {
  display: block;
  margin-top: 5px;
  margin-left: 0px;
  max-width: 150px;
  padding-left: 5px;
}

button {
  background: #6d4be5;
  color: white;
  border: 1px solid #6d4be5;
  border-radius: 5px;
  padding: 4px 7px;
  cursor: pointer;
  margin: 10px 2px 10px 25px;
  font-weight: bold;
  font-size: 10px;
}

button.rmv-btn {
  background: none;
  border-color: #f9895c;
  color: #f9895c;
}

button.rmv-btn:hover {
  background: #f9895c;
  color: white;
}